<div class="main">
  <div class="selection">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <ng-container *ngFor="let item of titleList">
        <mat-button-toggle (click)="onSelection(item)">{{item.name}}</mat-button-toggle>
      </ng-container>

    </mat-button-toggle-group>
  </div>

  <div class="content" *ngIf="selectedOp">
    <ng-container *ngFor="let item of operationList">
      <button mat-raised-button style="margin: 5px;" (click)="onMakeOperation(item)"
        [ngStyle]="{'color': selectedOp.code=='2'?'black':'white'}" [style.background-color]="selectedColor">
        {{item.name +' '+selectedOp.name }}
      </button>
    </ng-container>
  </div>
</div>
